VITE_INTERNAL_GPT_BASE_URL=https://rmbrgpt.bizops.rememberapp.co.kr/
VITE_INTERNAL_GPT_API_KEY=
VITE_INTERNAL_GPT_MODEL=Product.Anthropic Claude 4.6 Sonnet

VITE_GEMINI_API_KEY=
VITE_GEMINI_MODEL=gemini-3-flash-preview

VITE_OPENAI_API_KEY=
VITE_OPENAI_MODEL=gpt-4.1-mini
